body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
main {
    margin: 3rem;
}
section {
    margin-top: 20px;
}

h2 {
    color: #4CAF50;
}

p {
    line-height: 1.5;
}

footer {
    margin-top: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
